<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <script><%=
       compilation.assets['main.js'].source()
    %></script>
  </body>
</html>
